
New Unity Project/\.vs/

New Unity Project/Temp/

New Unity Project/Library/EditorInstance\.json

New Unity Project/Library/shadercompiler-UnityShaderCompiler\.exe0\.log

New Unity Project/Library/metadata/
